/*CSS-reset`s: Setter margin til 0 og border-box for at border inkluderes i boks*/
* {
  margin: 0;
  box-sizing: border-box;
}

/* Generisk innstilling for at images vises som block-elementer og maksimal størrelse på 100% (ikke større enn containeren det er i) */

img {
  display: block;
  max-width: 100%;
}

/* Legger inn 100svh slik at siden alltid er like høy som skjermen uavhengig av klient */
body {
  min-height: 100svh;
}
/* Initierer flex-box*/
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

/* Setter farge for all tekst  */
h1,
h2,
h3,
p {
  color: rgb(10, 0, 0);
}

h1 {
  color: #e61e28;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  /* border: 1px solid black; */
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  /* border: 1px solid black; */
}

.card-container {
  background-color: #d3d3d3;
  display: flex;
  align-items: start;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid black;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 400;
  margin: 0px;
  padding: 15px;
}

.details-container {
  /* border: 1px solid black; */
  padding: 10px px;
}

.card-details {
  /* border: 1px solid black; */
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  gap: 40px;
}

.value {
  text-align: center;
  font-weight: 500;
  color: #e61e28;
  margin-bottom: 0px;
  font-weight: bolder;
}

.label {
  margin-bottom: 10px;
  margin-top: 0px;
}

.info {
  margin-top: 0px;
  /* border: 1px solid black; */
}
